body {
   background: linear-gradient(to right, black , red, black); /* Standard syntax (must be last) */
overflow:hidden;    
  
  
}

div{
  margin: 0px auto;
}

H1{
  border-style: solid;
  border-width: 4px; 
  border-radius: 20px 0 20px 0;
  padding:20px;
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-color:rgba(255,255,255,0.5);
}
H1 span
{
  background-color:white;
  padding:3px;
  
}
p{
  border-style: solid;
  border-width: 1px;
  font-size: 150%;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-color:rgba(255,255,255,0.5);
}

.logo{background-image: url('sprites/logo.png');
background-repeat: no-repeat;}

.platform{
  border-style: solid;
  border-width: 4px;  
  text-align: center;  
  
 
}

.background_component{
  background-image: url('http://media.tumblr.com/e70a0da214e04e0451d7fdbe92bea124/tumblr_inline_mwbruq68nk1qkc0d3.png');
}

.railright{
  background-image: url('sprites/rail_r.gif');
  border-radius: 20px;
}

.railleft{
  background-image: url('sprites/rail_l.gif');
  border-radius: 20px;
}

.pblue{
   background-image: url('sprites/glass.png');
   background-color:  blue; 
  border-style: solid;
  border-width: 4px;  
}
.DeathFloorTop{
  background-image: url('sprites/topspike.png');
  
}
.pfire{
   background-image: url('sprites/Fire.gif');
   border-width: 0px;  
   
}
.pgreen{
      background-image: url('sprites/brick.png');
    background-color:  green; 
  
}

.Player_element
{
  border-style: solid;
  border-width: 4px;
}

.bird
{
  background-image: url('http://cdn2.scratch.mit.edu/get_image/gallery/370937_170x100.png');
  background-size: 100% 100%;
  border-style: solid;
  border-width: 4px;
}