body {
  background-color:black;
  overflow:hidden;   
  font-family: "Paragraph" !important;  
  
}

div{
  margin: 0px auto;
}

.menubutton{
  border-style: solid;
  border-width: 4px; 
  border-radius: 20px 0 20px 0;
  padding:20px;
  text-align: center;
  font-family: "Paragraph";
  background-color:rgba(255,255,255,0.8); 

  
  

}

.ScoreParticle{
  font-weight: bold;
  font-size: 200%;
  padding: 1px;
  display: inline-block;
  
}
.LevelParticle{
  font-weight: bold;
  
  font-size: 500%;
  padding: 1px;
  display: inline-block;
  font-family: "Paragraph";
  white-space: nowrap;
  
}
.nplayers
{
  background-color:white;
  padding:2px;
  border-style: solid;
  border-width: 1px; 
  border-radius: 5px;  
}

.jsButton{
    border-style: solid;
  border-width: 4px; 
  border-radius: 20px 0 20px 0;
  padding:20px;
  text-align: center;
  font-family: "Paragraph";
  background-color:rgba(255,255,255,0.8);
  font-size: 2em;  
  font-weight: bold;
  margin: 15px;
}
.jsButton:hover{
  background-color: blue;
  cursor: pointer;



}
.info
{
  background-color:transparent;
  font-size:50%;
}




.platform{
  border-style: solid;
  border-width: 4px;  
  text-align: center;  
  
 
}
.umbrella{background-image: url('sprites/umbrella.png');}

.background_component1{
  background-image: url('sprites/bg/blue.jpg');
}
.background_component2{
  background-image: url('sprites/bg/matrix.jpg');
}
.background_component3{
  background-image: url('sprites/bg/pink.jpg');
}
.background_component4{
  background-image: url('sprites/bg/sky.png');
}
.background_component5{
  background-image: url('sprites/bg/sun.jpg');
}
.background_component6{
  background-image: url('sprites/bg/gioconda.jpg');
}


.railright{
  background-image: url('sprites/Rright.gif');
  border-radius: 20px;
  border: 4px black solid;
}

.railleft{
  background-image: url('sprites/Rleft.gif');
  border-radius: 20px;
  border: 1px white solid;
}

.pblue{
   background-image: url('sprites/glass.png');
   background-color:  blue; 
  border-style: solid;
  border-width: 4px;  
}
.DeathFloorTop{
  background-image: url('sprites/topspike.png');
  
}
.pfire{
   background-image: url('sprites/Fire.gif');
   border-width: 0px;  
   
}
.pgreen{
      background-image: url('sprites/brick.png');
    background-color:  green; 
  
}

.brokenbrick{
    background-image: url('sprites/broken.png');
     
}

.Player_element
{
  /*border-style: solid;
  border-width: 4px;*/
}

.spawnable,.playerthumbnail{
  background-size: 100% 100%;


}
.bird
{
  background-image: url('http://cdn2.scratch.mit.edu/get_image/gallery/370937_170x100.png');  

}

.beer{background-image: url('sprites/beer.png')}

.banana{background-image: url('sprites/banana.png')}
.pineapple{background-image: url('sprites/pineapple.png')}
.cherry{background-image: url('sprites/cherry.png')}
.fish{background-image: url('sprites/balloon.gif')}
.tupifly{background-image: url('sprites/tupifly.png')}
.playerthumbnail,.tupiwalk{background-image: url('sprites/tupiwalk.gif');}
.tupiburned{background-image: url('sprites/tupiburned.png')!important;}


.playerthumbnail{
  height: 50px;
  width: 50px;
  outline: 1px solid black;
}

#game{
border: 8px #5d6e49 double;

-moz-box-shadow: 0px 0px 37px 10px #f4e5dc;
-webkit-box-shadow: 0px 0px 37px 10px #f4e5dc;
box-shadow: 0px 0px 37px 10px #f4e5dc;
}

.jsPanel{
   border-style: solid;
  border-width: 4px; 
  border-radius: 20px 0 20px 0;
  padding:20px;
  text-align: center;
  overflow: auto;  
  background-color:rgba(255,255,255,0.8); 

}
.jsPanel span{
  font-size: 200%;
  vertical-align: middle;
}
.jsPanel p{
  font-size: 15px;  
  border: 0;
  background:none;
  padding: 0px;
}
.jsPanel input{
  font-size: larger;
  width: 200px;

}
.jsPanel button{
  font-size: larger;
  width: 200px;


}
.jsPanel button:hover{
  cursor: pointer;
}

  
.jsPanel .HSinfo{
  text-align: left;
  padding-left: 50px;
}

.playercontrols{
  float: left;
  width: 80px;
  
  margin-right: 5px;  
  background-color: white;
  outline: 1px solid black;
  overflow: auto;
  opacity: 0.2;
}


.playercontrols:hover{
  cursor: pointer;
}

@font-face {
    font-family: 'Header'; /*a name to be used later*/
    src: url('fonts/actionj.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Paragraph'; /*a name to be used later*/
    src: url('fonts/qarmic.ttf'); /*URL to font*/
}
