body {
   background: linear-gradient(to right, black , red, black); /* Standard syntax (must be last) */
overflow:hidden;    
}

div{
  margin: 0px auto;
}

p{
  border-style: solid;
  border-width: 1px;
  font-size: 200%;
}